.header-style {
  background-color: #d33e42 !important;
}
.header-style h1 {
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.nav {
  background: #fff!important;
}
.nav ul {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  list-style: none!important;
}
.nav ul .nav-li-active {
  color: #d33e42 !important;
}
.nav ul li {
  color: #444;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-grow: 1;
}
.nav ul .sort-icon {
  flex-grow: 0;
  width: 20px;
  padding: 5px 5px 0px 0px;
}
.nav ul .sort-icon img {
  width: 100%;
}
.nav2 {
  height: 30px;
}
.footer-style {
  background-color: #fff;
}
.footer-style h1 {
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.item {
  width: 100%;
  height: 105px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.item .item-left {
  flex-grow: 0;
  width: 100px;
}
.item .item-left img {
  width: 85px;
  padding-left: 5px;
}
.item .item-left p {
  color: red;
  text-align: center;
  font-size: 12px;
  margin: 0px;
}
.item .item-right {
  flex-grow: 2;
}
.item .item-right span {
  font-size: 12px;
}
.item .item-right .s-blue {
  padding: 1px 5px;
  border: 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #29b2c2;
  border-color: #29b2c2;
}
.item .item-right .s-yellow {
  padding: 1px 5px;
  border: 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #f2ce3f;
  border-color: #f2ce3f;
}
.item .item-right p {
  margin: 0px;
  padding: 0px;
}
.item .item-right .author {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: #666;
  text-align: right;
}
.item .item-right .item-r-top {
  height: 66px;
  overflow: hidden;
}
/*
.items{
    width: 100%;
    .item-left{
        float: left;
        width: 30%;
    }
    .item-right{
        width: 70%;
        float: right;
    }

}
*/
